@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-4xl font-bold tracking-wider tablet:text-5xl desktop:text-6xl;
}

h2 {
  @apply text-3xl tracking-wide text-[var(--title-color)] tablet:text-3xl;
}

h3 {
  @apply text-xl tracking-wide text-neutral-content/80 tablet:text-3xl;
}

H4 {
  @apply text-[var(--title-color)];
}

mark {
  @apply bg-gradient-to-r from-sky-300 to-sky-200 text-base-100;
}

table {
  @apply table;
}

thead,
tbody {
  display: block;

  tr {
    @apply *:text-start *:align-text-top;
  }
}

a {
  @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-gradient {
  @apply inline-block bg-gradient-to-r bg-clip-text text-transparent;
}
